@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
}
body{
    height: 100vh;
  
    font-family: 'Roboto', sans-serif;}

html {
    scroll-behavior: smooth;
    }


/*  SEARCH BAR  */

.search-container{
    padding: 40px 1.7em;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E5EAEB;
    border-radius: 8px;
    height: 57px;
    padding-left: 16px;
    
}



.search-input input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
    color: #4D6C78;
}
::placeholder{
    color: #4D6C78;
}
.search-input .icon{
    color: #AF4399;
}


/*   CATEGORIES    */

.categories-container{
    padding: 0 1.7em;
    
}
.categories-container h1{
    font-size: 24px;
    color: #012D3E;
}

.categories-container p{
    font-size: 17px;
    font-weight: 300;
    color: #4D6C78;
    margin-top: 4px;
    line-height: 1.5;
}

.box-links{
    margin-top: 24px;
}

.categories-container .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F7F8;
    height: 40px;
    border: 2px solid #E5EAEB;
    border-radius: 8px;
    padding: 24px 32px;
    margin-top: 12px;
}

.left{
    display: flex;
}
.left h3{
    padding-left: 24px;
    color: #012D3E;
}

.box .icon{
    font-size: 20px;
   color: #BDCBD0;
}


.box .icon2 {
    color: #AF4399;
}

.box:hover{
    border-color: #AF4399;
    color: #AF4399;
}

/*   KOM GODT IGANG    */

.kgi-container{
    padding: 40px 1.7em;
}

.intro h1{
 font-size: 24px;
 color: #012D3E;
}

.intro p{
    font-size: 17px;
    font-weight: 300;
    color: #4D6C78;
    margin-top: 4px;
    line-height: 1.5;
}

.article-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    border: 2px solid #E5EAEB;
    border-radius: 4px;
    padding: 24px 32px;
    margin-top: 12px;
}
.article-box:hover{
    border: 2px solid #AF4399;;
}

.article-box h4{
    font-size: 18px;
    font-weight: 400;
    color: #AF4399;
}

.article-box .icon2{
    color: #AF4399;
}

/*    GUIDES     */

.guides-container{
    padding: 0 1.7em;
}


/*    FAQs     */

.faqs-container{
    padding: 40px 1.7em;
}

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

.faqs-content{
    width: 100%;

}

.accordion-item{
    margin-bottom: 1rem;
    border: 2px solid #E5EAEB;
    border-radius: 4px;
    padding: 24px 32px;
    
}

.accordion-link{
    font-size: 18px;
    font-weight: 400;
    color: #AF4399;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.accordion-link .icon-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .25rem;
    height: 70%;
    background-color: #AF4399 ;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 17px;
    color: #4D6C78;    
    padding: 1em;
    font-weight: 400;
}

.accordion-item:target .answer{
max-height: 20rem;
}

.accordion-item:target .accordion-link .icon-add{
    display: none;
}

.accordion-item:target .accordion-link .icon-remove{
    display: block;
}


/*    Contact     */

.contact{
    background: #F5F7F8;
    padding: 40px 1.7em;
}

.contact-box{
    border: 1px solid #BDCBD0;
    padding: 24px 0 24px 48px;
    margin-top: 16px;
}

 .heading{
    display: flex;
    align-items: center;
    color: #012D3E;
    font-size: 18px;
    margin-bottom: 16px;
}

.heading h3 {
    padding-left: 16px;
}

.supp, .sale{
    display: flex;
    margin-top: 8px;
}
.description{
    font-size: 17px;
    font-weight: 300;
    color: #012D3E;
}

.subject{
    font-size: 17px;
    font-weight: 500;
    color: #012D3E;
    margin-left: 8px;
}


.open-time{
    padding: 24px 0 24px 48px;
    margin-top: 16px;
    background: #E5EAEB;
}

.weekdays, .weekends, .holidays{
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    margin-bottom: 8px;
}







/*=============================*/
/*==========Tablet styles==========*/
/*=============================*/

@media screen and (min-width: 700px) {

      .search-container{
        padding: 40px 6em;
        }

    .categories-container{
        padding: 40px 6em;
    }

    .kgi-container{
        padding: 40px 6em;
    }

    .guides-container{
        padding: 40px 6em;
    }

    .faqs-container{
        padding: 40px 6em;
    }

    .contact{
        padding: 40px 6em;
    }


}


/*=============================*/
/*==========desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1100px) {

      .search-container{
        padding: 40px 12em;
        }

    .categories-container{
        padding: 40px 12em;
    }


    .box-links{
        display: flex;
        justify-content: space-between;
    }
    .box{
        width: 20%;
    }

    .kgi-container{
        padding: 40px 12em;
    }

    .guides-container{
        padding: 40px 12em;
    }

    .faqs-container{
        padding: 40px 12em;
    }

    .contact{
        padding: 40px 12em;
        display: flex;
        justify-content: space-between;
    }

    .contact-resp{
        width: 45%;
        justify-content: space-between;
        height: 100%;
    }
    .open-time{
        margin-top: 30px;
    }

    .contact-resp2{
        width: 45%;
    }

}
/*=============================*/
/*==========bigger desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1440px) {
  

      .search-container{
        padding: 40px 18em;
        }

    .categories-container{
        padding: 40px 18em;
    }

    .kgi-container{
        padding: 40px 18em;
    }

    .guides-container{
        padding: 40px 18em;
    }

    .faqs-container{
        padding: 40px 18em;
    }

    .contact{
        padding: 40px 18em;
        display: flex;
        justify-content: space-between;
    }

    .contact-resp{
        width: 45%;
        justify-content: space-between;
        height: 100%;
    }
    .open-time{
        margin-top: 30px;
    }

    .contact-resp2{
        width: 45%;
    }

    .open-time{
        margin-top: 55px;
    }

}

/*=============================*/
/*==========bigger desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1680px) {

      .search-container{
        padding: 40px 27em;
        }

    .categories-container{
        padding: 40px 27em;
    }

    .kgi-container{
        padding: 40px 27em;
    }

    .guides-container{
        padding: 40px 27em;
    }

    .faqs-container{
        padding: 40px 27em;
    }

    .contact{
        padding: 40px 27em;
        display: flex;
        justify-content: space-between;
    }

    .contact-resp{
        width: 45%;
        justify-content: space-between;
        height: 100%;
    }
    .open-time{
        margin-top: 30px;
    }

    .contact-resp2{
        width: 45%;
    }

    .open-time{
        margin-top: 55px;
    }
}
