@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
}
body{
    height: 100vh;
  
    font-family: 'Roboto', sans-serif;}

html {
    scroll-behavior: smooth;
    }

/* NAV */

header{
  background: #AF4399;
  padding: 40px 3em;
  
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

 .nav-btn a{
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 16px;
    color: white;
    border-radius: 12px;
}

.nav-btn a:hover{
    background: white;
    color: #AF4399;
    font-weight: 500;
}

.buttom-nav h1{
    font-size: 50px;
    color: white;
    
    margin-top: 40px;
}

.buttom-nav p{
    color: white;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 12px;
    font-size: 17px;
}

/*  SEARCH BAR  */

.search-container{
    padding: 40px 3em;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E5EAEB;
    border-radius: 8px;
    height: 57px;
    padding-left: 16px;
    
}



.search-input input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
    color: #4D6C78;
}
::placeholder{
    color: #4D6C78;
}
.search-input .icon{
    color: #AF4399;
}


/*   CATEGORIES    */

.categories-container{
    padding: 0 3em;
    
}
.categories-container h1{
    font-size: 24px;
    color: #012D3E;
}

.categories-container p{
    font-size: 17px;
    font-weight: 300;
    color: #4D6C78;
    margin-top: 4px;
    line-height: 1.5;
}

.box-links{
    margin-top: 24px;
}

.categories-container .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F7F8;
    height: 40px;
    border: 2px solid #E5EAEB;
    border-radius: 8px;
    padding: 24px 32px;
    margin-top: 12px;
}

.left{
    display: flex;
}
.left h3{
    padding-left: 24px;
    color: #012D3E;
}

.box .icon{
    font-size: 20px;
   color: #BDCBD0;
}


.box .icon2 {
    color: #AF4399;
}

.box:hover{
    border-color: #AF4399;
    color: #AF4399;
}

/*   KOM GODT IGANG    */

.kgi-container{
    padding: 40px 3em;
}

.intro h1{
 font-size: 24px;
 color: #012D3E;
}

.intro p{
    font-size: 17px;
    font-weight: 300;
    color: #4D6C78;
    margin-top: 4px;
    line-height: 1.5;
}

.article-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    border: 2px solid #E5EAEB;
    border-radius: 4px;
    padding: 24px 32px;
    margin-top: 12px;
}
.article-box:hover{
    border: 2px solid #AF4399;;
}

.article-box h4{
    font-size: 18px;
    font-weight: 400;
    color: #AF4399;
}

.article-box .icon2{
    color: #AF4399;
}

/*    GUIDES     */

.guides-container{
    padding: 0 3em;
}


/*    FAQs     */

.faqs-container{
    padding: 40px 3em;
}

*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

.faqs-content{
    width: 100%;

}

.accordion-item{
    margin-bottom: 1rem;
    border: 2px solid #E5EAEB;
    border-radius: 4px;
    padding: 24px 32px;
    
}

.accordion-link{
    font-size: 18px;
    font-weight: 400;
    color: #AF4399;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.accordion-link .icon-remove{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .25rem;
    height: 70%;
    background-color: #AF4399 ;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    font-size: 17px;
    color: #4D6C78;    
    padding: 1em;
    font-weight: 400;
}

.accordion-item:target .answer{
max-height: 20rem;
}

.accordion-item:target .accordion-link .icon-add{
    display: none;
}

.accordion-item:target .accordion-link .icon-remove{
    display: block;
}


/*    Contact     */

.contact{
    background: #F5F7F8;
    padding: 40px 3em;
}

.contact-box{
    border: 1px solid #BDCBD0;
    padding: 24px 0 24px 48px;
    margin-top: 16px;
}

 .heading{
    display: flex;
    align-items: center;
    color: #012D3E;
    font-size: 18px;
    margin-bottom: 16px;
}

.heading h3 {
    padding-left: 16px;
}

.supp, .sale{
    display: flex;
    margin-top: 8px;
}
.description{
    font-size: 17px;
    font-weight: 300;
    color: #012D3E;
}

.subject{
    font-size: 17px;
    font-weight: 500;
    color: #012D3E;
    margin-left: 8px;
}


.open-time{
    padding: 24px 0 24px 48px;
    margin-top: 16px;
    background: #E5EAEB;
}

.weekdays, .weekends, .holidays{
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    margin-bottom: 8px;
}


/*   FOOTER    */

footer{
    padding: 40px 3em;
    background: #012D3E;
}

.footer-content{
    width: 100%;
}

.f-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.f-accordion-item{
    margin-bottom: 1rem;
    
}

.f-accordion-link{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.f-accordion-link .icon-remove{
    display: none;
}

.f-answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}


li, a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 12px;
    
}

.f-answer p {
    font-size: 15px;
    font-weight: 200;
    color: #fff;    
    padding: 1em;
    font-weight: 400;
}

.f-accordion-item:target .f-answer{
max-height: 20rem;
}

.f-accordion-item:target .f-accordion-link .icon-add{
    display: none;
}

.f-accordion-item:target .f-accordion-link .icon-remove{
    display: block;
}



.some-links{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon-some{
    font-size: 32px;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 16px;
}

.icon-some:hover{
    background: #fff;
    color: #AF4399;
    border: 1px solid #AF4399;
}

.copyright{
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
}