@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
  
    font-family: 'Roboto', sans-serif;
}




/*   BREADCRUMBS    */

.breadcrumbs-container{
    padding: 24px 3em;
}

.breadcrumbs-item{
    display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #ccc;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #999;
}

.breadcrumbs-link:hover{
    text-decoration: underline;
}

.breadcrumbs-link-active{
    color: #4D6C78;
    font-weight: 500;
}


/*   ARTICLE    */

.article{
    padding: 20px 3em;
}

h1{
    font-size: 40px;
    color: #012D3E;
}

p{
    font-size: 18px;
    font-weight: 300;
    color: #012D3E;
    line-height: 29px;
}

/*   FIGUR 1    */

.fig1{
    margin-top: 32px 0;
}

.fig-1{
    display: flex;
    align-items: center;
    border: 1px solid #EFC5E6;
    padding: 16px 0 16px 16px;
    background: #EFC5E6;
    margin: 12px 0;
    border-radius: 8px;
}
.fig-1 h3{
    font-size: 18px;
    font-weight: 800;
    color: #012D3E;
}

.fig-1 p{
    margin-left: 12px;
    font-size: 18px;
    font-weight: 300;
    color: #012D3E;
}

.txt{
    margin-top: 16px;
}

/*   FIGUR 2   */

.fig2{
    background: #E8F0FA;
    padding: 24px 32px;
    margin-top: 32px;
    border-radius: 24px;
    color: #012D3E;
}

.fig2-header{
    display: flex;
    font-size: 18px;
    align-items: center;
}

.fig2-header h3{
    margin-left: 16px;
}

.fig3{
    background: #E8EBDA;
    padding: 24px 32px;
    margin-top: 32px;
    border-radius: 24px;
    color: #012D3E;
}

.fig3-header{
    display: flex;
    font-size: 18px;
    align-items: center;
}

.fig3-header h3{
    margin-left: 16px;
}

.txt2{
    margin-top: 40px;
}

/*   RATE ARTICLE   */

.rate{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.rate1{
    display: flex;
    align-items: center;
}

.icon-rate{
    margin-right: 16px;
}

.rate a{
    font-size: 18px;
    font-weight: 500;
    color: #012D3E;
}

.rate a:hover{
    color: #AF4399;
    text-decoration: underline;

}

/*    Contact     */

.contact{
    background: #F5F7F8;
    padding: 40px 3em;
}

.contact-box{
    border: 1px solid #BDCBD0;
    padding: 24px 0 24px 48px;
    margin-top: 16px;
}

 .heading{
    display: flex;
    align-items: center;
    color: #012D3E;
    font-size: 18px;
    margin-bottom: 16px;
}

.heading h3 {
    padding-left: 16px;
}

.supp, .sale{
    display: flex;
    margin-top: 8px;
}
.description{
    font-size: 17px;
    font-weight: 300;
    color: #012D3E;
}

.subject{
    font-size: 17px;
    font-weight: 500;
    color: #012D3E;
    margin-left: 8px;
}

.open-time{
    padding: 24px 0 24px 48px;
    margin-top: 16px;
    background: #E5EAEB;
}

.weekdays, .weekends, .holidays{
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
    margin-bottom: 8px;
}


/*=============================*/
/*==========Tablet styles==========*/
/*=============================*/

@media screen and (min-width: 700px) {
    
}


/*=============================*/
/*==========desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1100px){
    .fig1{
        display: flex;
        justify-content: space-between;
    }

    .fig-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        width: 200px;
        padding: 0;
        align-items: center;
    }



    
}

/*=============================*/
/*==========bigger desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1440px) {
    
    .fig-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 264px;
        padding: 0;
        align-items: center;
    }
}

/*=============================*/
/*==========bigger desktop styles==========*/
/*=============================*/

@media screen and (min-width: 1680px) {
   

   
}