@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
  
    font-family: 'Roboto', sans-serif;
}


/* NAV */

  
  header{
      padding: 40px 3em;
      background: #AF4399;
  }
  
  .top-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav-btn a{
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 16px;
    color: white;
    border-radius: 12px;
}

.nav-btn a:hover{
    background: white;
    color: #AF4399;
    font-weight: 500;
}

.nav-line{
    height: 2px;
    width: 100%;
    background: #fff;
    margin-top: 24px;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E5EAEB;
    border-radius: 8px;
    height: 57px;
    padding-left: 16px;
    background: #fff;
    margin-top: 24px;
}



.search-input input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
    color: #4D6C78;
}
::placeholder{
    color: #4D6C78;
}
.search-input .icon{
    color: #AF4399;
}

/*   BREADCRUMBS    */

.breadcrumbs-container{
    padding: 24px 3em;
}

.breadcrumbs-item{
    display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after{
    content: '>';
    margin: 0 5px;
    color: #ccc;
}

.breadcrumbs-link {
    text-decoration: none;
    color: #999;
}

.breadcrumbs-link:hover{
    text-decoration: underline;
}

.breadcrumbs-link-active{
    color: #4D6C78;
    font-weight: 500;
}


/*   ARTICLE    */

h1{
    font-size: 40px;
    color: #012D3E;
}

p{
    font-size: 16pt;
    font-weight: 300;
    color: #012D3E;
}